<section class="Container">
  <div class="wrapper">
    <div class="chield-header">
      <h2>Explore mais</h2>
    </div>

    <button class="swiper-button-prev-mini">
      <span class="material-symbols-outlined"> arrow_back_ios_new </span>
    </button>

    <div #swiperContainer class="swiper course-swiper">
      <div class="swiper-wrapper">
        @for (infos of minoInfo; track infos.miniTitle) {
        <div class="swiper-slide">
          <a>
            <img [src]="infos.miniImg" [alt]="infos.miniTitle" />
            <span>{{ infos.miniTitle }}</span>
          </a>
        </div>
        }
      </div>
    </div>

    <button class="swiper-button-next-mini">
      <span class="material-symbols-outlined">  arrow_forward_ios </span>
    </button>
  </div>
</section>
