@if (course) {

<div class="vision-layout-container">
  <div class="main-content">
    <section class="about-course">
      <h2>Conheça o curso</h2>
      <div class="description-wrapper" [ngClass]="{ collapsed: isCollapsed }">
        <p>{{ course.descriptionLong }}</p>
      </div>
      <button class="toggle-button" (click)="toggleCollapse()">
        @if (isCollapsed) {
        <span>Ler mais</span>
        <span class="material-symbols-outlined">expand_more</span>
        } @else {
        <span>Ler menos</span>
        <span class="material-symbols-outlined">expand_less</span>
        }
      </button>
    </section>

    @if (course.modules && course.modules.length > 0) {
    <section class="course-content-section">
      <div class="content-header">
        <h2>Conteúdo do curso</h2>
      </div>

      <div class="accordion-container">
        @for (module of course.modules; track module.order; let i = $index) {
        <div class="accordion-item" [class.expanded]="isModuleExpanded(module.order)">
          <div class="accordion-header" (click)="toggleModule(module.order)">
            <div class="module-main-info">
              <div class="module-and-icon">
                <span class="module-icon material-symbols-outlined">bookmark</span>
                <span class="module-title">MODULE {{ module.order }}</span>
              </div>

              <div class="module-main-info-text">
                <h3 class="module-subtitle">{{ module.title }}</h3>
              </div>
            </div>
            <span class="expand-icon material-symbols-outlined">expand_more</span>
          </div>

          @if (isModuleExpanded(module.order)) {
          <div class="accordion-body">
            <p class="module-description">
              In this module, you are given an introduction to behaviour based safety. You will learn what behaviour is
              and what is involved in behaviour based safety.
            </p>
            <ul class="lessons-list">
              @for (lesson of module.lessons; track lesson.id; let i = $index) {

              <a [routerLink]="['/cursos', course.slug, 'lesson', lesson.id]" class="lesson-item-link">
                <li class="lesson-item" [class.completed]="(completedLessons$ | async)?.has(lesson.id)">

                  <span class="lesson-status-icon material-symbols-outlined">
                    {{ (completedLessons$ | async)?.has(lesson.id) ? 'check_circle' : 'radio_button_unchecked' }}
                  </span>

                  <div class="lesson-info">
                    <span class="lesson-number">{{ i + 1 }}.</span>
                    <span class="lesson-title">{{ lesson.title }}</span>
                  </div>

                  <div class="lesson-meta">
                    <span class="material-symbols-outlined meta-icon">smart_display</span>
                    <span class="lesson-duration">{{ lesson.durationInMinutes || 15 }}m</span>
                  </div>

                </li>
              </a>
              }
            </ul>
          </div>
          }
        </div>
        }
      </div>
    </section>
    }
  </div>

  <aside class="sidebar-content">
    <div class="sidebar-card details-card">
      <h2>Detalhes</h2>
      <div class="details-grid">
        <div class="detail-item">
          <span class="material-symbols-outlined">schedule</span>
          <div>
            <span class="detail-label">Horas de estudo</span>
            <span class="detail-value">Aprox. {{ course.studyHours}}h</span>
          </div>
        </div>
        <div class="detail-item">
          <span class="material-symbols-outlined">smart_display</span>
          <div>
            <span class="detail-label">Aulas</span>
            <span class="detail-value">{{ course.totalLessons }} aulas</span>
          </div>
        </div>
        <div class="detail-item">
          <span class="material-symbols-outlined">school</span>
          <div>
            <span class="detail-label">Alunos</span>
            <span class="detail-value">{{ course.studentCount?.toLocaleString("pt-BR") }}</span>
          </div>
        </div>
        <div class="detail-item">
          <span class="material-symbols-outlined">bar_chart</span>
          <div>
            <span class="detail-label">Nível</span>
            <span class="detail-value">{{ course.level }}</span>
          </div>
        </div>
        <div class="detail-item">
          <span class="material-symbols-outlined">calendar_month</span>
          <div>
            <span class="detail-label">Fim do acesso</span>
            <span class="detail-value">{{ course.accessEndDate }}</span>
          </div>
        </div>
        <div class="detail-item">
          <span class="material-symbols-outlined">code</span>
          <div>
            <span class="detail-label">Atividades</span>
            <span class="detail-value">{{ course.activities }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="sidebar-card">
      <div class="progress-header">
        <h3>Progresso geral</h3>
      </div>
      <div class="progress-bar-container">
        <div class="progress-bar-fill" [style.width.%]="courseProgress$ | async"></div>
      </div>
      <span class="progress-percent">{{ courseProgress$ | async }}%</span>
      <button class="btn-primary" (click)="startCourse()">Iniciar Curso</button>
      <button class="btn-secondary">Acessar conteúdos</button>
    </div>
  </aside>
</div>

}