<div class="login-container">
  <div class="login-form-wrapper">
    <div class="logo">
      <img src="logo.png" alt="">
      <a href="">
        <span>SYNESIS</span>
      </a>
    </div>

    <div class="form-header">
      <h1>Login</h1>
      <p>Por favor insira seus dados</p>
    </div>

    <button class="social-login google">
      <img src="https://www.google.com/favicon.ico" alt="Google icon" />
      Faça login com o Google
    </button>


    <div class="divider">
      <span>or</span>
    </div>

    <form>
      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Enter your email" />
      </div>
      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Enter your email" />
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          placeholder="Enter your password"
        />
      </div>

      <div class="form-options">
        <div class="remember-me">
          <input type="checkbox" id="remember" class="remember-check" />
          <label for="remember">Remember me</label>
        </div>
        <a routerLink="/Forgout-Passoword"  class="forgot-password">Forgot password?</a>
      </div>

      <button type="submit" class="login-btn">Login</button>
    </form>

    <div class="register-link">
      Não está registrado? <a routerLink="/registration">Crie uma conta</a>
    </div>

    <div class="footer-politics">
      <p>
        Ao continuar, você confirma que entende e aceita os <br> <a href="">Termos e Condições</a> e a <a href="">Política de Privacidade</a>

      </p>
    </div>
  </div>
  <div class="illustration-wrapper">
    <img
      src="https://img.freepik.com/vetores-premium/ilustracao-do-conceito-de-login-movel_114360-83.jpg"
      alt="Server room illustration"
    />
  </div>
</div>
