@if (course) {
  <aside class="sidebar-modules" [class.sidebar-close]="toggleButtonSidebar">
    <div class="sidebar-content">
      <div class="sidebar-top">
        <div class="sidebar-header">
          @if (!toggleButtonSidebar) {
          <button class="btn-close-sidebar" (click)="onClose()">
            <span class="material-symbols-outlined">close</span>
          </button>
          }
          <a [routerLink]="['/cursos', course.slug]"></a>
          <h2 class="course-title">{{ course.title }}</h2>
        </div>
        <div class="sidebar-main">
          @for (module of course.modules; track module.order) {
          <div class="module-accordion-item" [class.expanded]="isModuleExpanded(module.order)">

            <div class="module-header" (click)="onToggleModule(module.order)">
              <span class="module-icon material-symbols-outlined">check_circle</span>
              <div class="module-text">
                <span class="module-identifier">Módulo {{ module.order }}</span>
                <span class="module-title-text">{{ module.title }}</span>
              </div>
              <span class="expand-icon material-symbols-outlined">expand_more</span>
            </div>

            @if (isModuleExpanded(module.order)) {
            <div class="module-lessons-panel">
              <ul class="lessons-list">
                @for (lesson of module.lessons; track lesson.id) {
                <li>
                  <a class="lesson-link" [routerLink]="['/cursos', course.slug, 'lesson', lesson.id]"
                    [class.active]="lesson.id === ActiveLesson?.id">

                    @if (lesson.id === ActiveLesson?.id) {
                    <div class="active-indicator"></div>
                    }
                    <span class="lesson-status-icon material-symbols-outlined">radio_button_unchecked</span>
                    <div class="lesson-text">
                      <span class="lesson-item-title">{{ lesson.title }}</span>
                      <span class="lesson-item-type">{{ lesson.type === 'video' ? 'Vídeo' : 'Exercício' }}</span>
                    </div>
                  </a>
                </li>
                }
              </ul>
            </div>
            }
          </div>
          }
        </div>
      </div>
      <div class="sidebar-footer">
        <button class="btn-back" (click)="onBackToCourse()">
          <span class="material-symbols-outlined">arrow_back</span>
          <span>Volta para o Conteúdo</span>
        </button>
      </div>
    </div>
  </aside>
}