<header class="app-header">
  <nav class="navbar-content" aria-label="Navegação principal">
    <div class="header-left">
      <button class="header-action-btn toggle-sidebar-btn" (click)="ToggleOpen()" aria-label="Abrir menu">
        <i class="fas fa-bars"></i>
      </button>

      <div class="logo-container">
        <a routerLink="/" aria-label="Página Inicial">
          <img src="logo.png" alt="Logo da Synesis" class="logo-img" />
          <span class="logo-title">SYNESIS</span>
        </a>
      </div>
    </div>

    <div class="header-right">
      <button class="header-action-btn" aria-label="Alternar tema" (click)="changeTheme()">
        @if(!isDarkMode) {
        <i class="fa-regular fa-moon"></i>
        }@else {
        <i class="fas fa-sun"></i>
        }
      </button>

      <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass search-icon"></i>
        <input type="search" placeholder="Pesquisar..." [(ngModel)]="searchValue" aria-label="Campo de pesquisa" />
        @if(searchValue){
        <button class="clear-search-btn" (click)="searchClear()" aria-label="Limpar pesquisa">
          <span class="material-symbols-outlined">close</span>
        </button>
        }
      </div>

      <div class="user-menu">
        <button class="user-menu-button" (click)="navModalOpen()">
          <img [src]="avatarUrl" alt="Avatar do usuário" class="user-avatar" />
          <div class="user-info">
            <span class="user-name">{{ currentUser?.name }}</span>
            <span class="user-role">{{ currentUser?.profile?.role }}</span>
          </div>
        </button>

        @if (navMenuModal) {
        <div class="menu-modal" [class.open]="navMenuModal" id="userMenuModal">
          <ul class="modal-container">
            @for (item of userMenuItems; track item){
            <li class="modal-items">
              @if (item.router) {
              <a routerLink="{{ item.router }}">
                <i class="{{ item.icon }}"></i>
                <span>{{ item.name }}</span>
              </a>
              }

              @if (item.action) {
              <a (click)="item.action()">
                <i class="{{ item.icon }}"></i>
                <span>{{ item.name }}</span>
              </a>
              }
            </li>
            }
          </ul>
        </div>
        }
      </div>
    </div>
  </nav>
</header>