.cards-top {
  position: relative;
}

.cards-top-ALL {
  position: absolute;
  right: 0;
  top: 2.4rem;
  transform: translateY(-50%);
  z-index: 2;
}

.cards-top-ALL .btn-All {
  background-color: var(--color-accent);
  color: var(--color-text-on-accent);
  border: none;
  padding: 1.4rem 0.8rem;
  border-radius: var(--radius-small);
  font-size: var(--fs-label-medium);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

:host ::ng-deep .mat-mdc-tab-label-container {
  border-bottom: none;
}

:host ::ng-deep .mat-mdc-tab-body-wrapper {
  margin-top: 1.6rem;
  max-height: 50rem;
}

.course-card {
  background-color: var(--color-surface);
  border-radius: 2rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 30rem;
  height: 40rem;
}

.course-card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card-image-container {
  position: relative;
}

.card-image {
  width: 100%;
  height: 18rem;
  object-fit: cover;
}

.card-category-tag {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  background-color: var(--color-surface-translucent);
  backdrop-filter: blur(5px);
  color: var(--color-text-primary);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.6rem 1.2rem;
  border-radius: 1rem;
}

.card-content {
  padding: 1.9rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-text-content {
  margin-bottom: 1.6rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-title {
  font-size: var(--fs-title-small);
  font-weight: 600;
  color: var(--color-text-primary);
  margin: 0 0 1rem 0;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
}

.card-paragrafo {
  color: var(--color-text-secondary);
  font-size: var(--fs-label-medium);
  line-height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 4;
}

.card-instructor {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.instructor-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.instructor-name {
  font-size: var(--fs-label-medium);
  color: var(--color-text-secondary);
}

.progress-container {
  margin-bottom: 1.5rem;
}

.progress-bar {
  width: 100%;
  height: 0.8rem;
  background-color: var(--color-accent-light);
  border-radius: 0.4rem;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background-color: var(--color-accent);
  border-radius: 0.4rem;
}
