<div class="swiper-area">

  <div class="swiper-header-text">
    <h2>{{ title }}</h2>
  </div>

  <button class="carrosel-button-prev btn-carrosel">
    <span class="material-symbols-outlined">
      arrow_back_ios_new
    </span>
  </button>

  <div #swiperContainer class="swiper">
    <div class="swiper-wrapper">
      @for (course of items; track course.id) { <div class="swiper-slide">

        <a [routerLink]="['/cursos', course.slug]" class="course-card-link">
          <div class="course-card">
            <div class="card-image-wrapper">
              <img class="card-image" [src]="course.img" alt="Imagem do curso">
              
              @if(course.tags && course.tags.length > 0){
                <span class="card-category">{{ course.tags[0] }}</span>
              }
            </div>
            <div class="card-content">
              <h3 class="card-title">{{ course.title }}</h3>
              <div class="progress-info">
                <span>Progresso</span>
                <span>0%</span>
              </div>
              <div class="progress-bar">
                <div class="progress-bar-fill" [style.width.%]="0"></div>
              </div>
              <div class="instructor-info">
                <img class="instructor-avatar" [src]="'https://i.pravatar.cc/40?u=' + course.author" alt="Avatar do instrutor">
                <span class="instructor-name">{{ course.author }}</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      }
    </div>
  </div>

  <button class="carrosel-button-next btn-carrosel">
    <span class="material-symbols-outlined">
      arrow_forward_ios
    </span>
  </button>

  <div class="container-Full-All">
      <button class="Full-All-btn" routerLink="/courses">Veja Todos os Cursos</button>
  </div>
</div>