<div class="login-container">
  <div class="login-form-wrapper">
    <div class="logo">
      <img src="logo.png" alt="" />
      <a href="">
        <span>SYNESIS</span>
      </a>
    </div>

    <div class="form-header">
      <h1>Registro</h1>
      <p>Por favor registre seu dados</p>
    </div>

    <button class="social-login google">
      <img src="https://www.google.com/favicon.ico" alt="Google icon" />
      Faça login com o Google
    </button>
    <div class="divider">
      <span>or</span>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
      <div class="input-group">
        <label for="name">Nome</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          placeholder="Enter your Name"
        />

        @if (isNameInvalid) {
        <div class="error-message">
          @if(nameControl.hasError('required') && (nameControl.dirty ||
          nameControl.touched)) {
          <p>O campo nome é obrigatório.</p>
          }
        </div>
        }
      </div>

      <div class="input-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Enter your email"
        />
        @if (isEmailInvalid) {
        <div class="error-message">
          @if(emailControl.hasError('required') && (emailControl.dirty ||
          emailControl.touched)) {
          <p>O campo e-mail é obrigatório.</p>
          } @if(emailControl.hasError('email')) {
          <div>
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-exclamation-diamond-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.52 0 2.1l6.516 6.516c.58.58 1.52.58 2.1 0l6.516-6.516c.58-.58.58-1.52 0-2.1L9.05.435zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm0 8a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
                />
              </svg>
            </span>
            O endereço de e-mail deve conter texto antes e depois do símbolo
            '&#64;'
          </div>
          }
        </div>
        }
      </div>

      <div class="input-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Enter your password"
        />
        @if (IsPasswordInvalid) {
        <div class="error-message">
          @if(passwordControl.hasError('required') && (passwordControl.dirty ||
          passwordControl.touched)) {
          <p>O campo password é obrigatório.</p>
          } @if (passwordControl.hasError('minlength')) {
          <p>O campo de senha teve conter pelos menos 6 caracteres</p>
          }
        </div>
        }
      </div>

      <div class="input-group">
        <label for="password">Confirm-Password</label>
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          placeholder="Confirm you Password"
        />

        @if (confirmPasswordControl.invalid && (confirmPasswordControl.dirty || confirmPasswordControl.touched)) {
        <div class="error-message">
          @if (confirmPasswordControl.hasError('required')) {
          <p>A confirmação de senha é obrigatória.</p>
          }
        </div>
        } @if (registerForm.hasError('passowrMismatch') &&
        confirmPasswordControl.dirty) {
        <div class="error-message">
          <p>As senhas não coincidem.</p>
        </div>
        }
      </div>

      <div class="lgpd-consent">
        <input
          type="checkbox"
          id="terms"
          class="consent-check"
          formControlName="termsAccepted"
        />
        <label for="terms">
          Eu li e concordo com os
          <a href="/termos-de-uso" target="_blank">Termos de Uso</a> e a
          <a href="/politica-de-privacidade" target="_blank"
            >Política de Privacidade</a
          >
          da SYNESIS.
        </label>
      </div>

      @if (isTermsInvalid) {
      <div class="error-message">
        <p>Você precisa aceitar os termos para continuar.</p>
      </div>
      }

      <button
        type="submit"
        class="register-btn"
        [disabled]="registerForm.invalid"
      >
        Registrase
      </button>
    </form>

    <div class="register-link">
      Já possue uma conta? <a routerLink="/Login">Fazer login</a>
    </div>
  </div>
</div>
