<div class="swiper-area">

  <div class="swiper-header-text">
    <h2>Recomendações para Iniciantes</h2>
  </div>
  <button class="swiper-button-prev-custom-cards">
    <span class="material-symbols-outlined">
      arrow_back_ios_new
    </span>
  </button>

  <div #swiperContainer class="swiper course-swiper">
    <div class="swiper-wrapper">

      @for (course of courses; track course.title) {
      <div class="swiper-slide">
        <div class="course-card">
          <div class="card-header">
            <div class="course-img">
              <img [src]="course.img" [alt]="'Ícone do curso ' + course.title" />
            </div>
            <span class="course-tag">{{ course.tag }}</span>
          </div>
          <div class="card-body">
            <h3 class="course-title">{{ course.title }}</h3>
            <div class="course-author">
              <img src="https://placehold.co/24x24/31313A/FFF?text=A" alt="Avatar do autor" class="author-avatar">
              <span>{{ course.author }}</span>
            </div>
          </div>
          <div class="card-footer">
            <span class="course-info">CURSO - {{ course.year }}</span>
            <div class="course-meta-icons">
              <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 12.5V7M7 12.5V1.5M12.5 12.5V4.5M17.5 12.5V9.5" stroke="#4B5563" stroke-width="2.5"
                  stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>

  <button class="swiper-button-next-custom-cards">
    <span class="material-symbols-outlined">
      arrow_forward_ios
    </span>
  </button>
</div>