<div class="recentes">
    <div class="recentes-wrapper">
        <div class="recentes-progress">
            <mat-progress-bar mode="determinate" [value]="progressBar"></mat-progress-bar>
            <p>{{progressBar}}%</p>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="/assets/login/login-banner.jpg" alt="">
            </div>
            <div class="card-textp">
                <h3>Desenvolvimento Web Essencial</h3>
                <p>Adicione superpoderes ao seu JavaScript. Aprenda a usar tipagem estática para criar aplicações mais robustas</p>
            </div>
        </div>
        <div class="modulo">
            <p class="modulo-name">Modulo 1</p>
            <p class="modulo-info">Instalação de ferramentas essenciais</p>
        </div>
        <div class="grup-btns">
            <button class="grup-more">Ver todo o curso</button>
            <button class="grup-contine">Continuar estudanto <span class="material-symbols-outlined">
                arrow_right_alt
            </span></button>
        </div>
    </div>
</div>