<div class="sidebar-overlay" [class.active]="isMobileOpen" (click)="closeMobileMenu()"></div>

<aside class="sidebar" [class.mini-sidebar]="!isOpen" [class.mobile-open]="isMobileOpen">
  <div class="aside-top">
    <button class="close-button" (click)="closeMobileMenu()">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <a class="logo-container" aria-label="Página Inicial">
      <img src="logo.png" alt="Logo da Synesis" class="logo-img" />
      <span class="logo-title">SYNESIS</span>
    </a>
  </div>
  <div class="sidebar-footer">
    <button (click)="toggleUserDropdown()" class="sidebar-footer-container">
      <div class="user-img-info">
        <img src="https://placehold.co/40x40/E2E8F0/4A5568?text=J" alt="Avatar do usuário" class="user-avatar" />
        <div class="sidebar-footer-text">
          <span class="user-name">Jorge luis</span>
          <span class="user-role">3° Manutenção</span>
        </div>
      </div>
      <i class="fas fa-chevron-right nav-arrow" [class.rotate-90]="isUserDropdownOpen"></i>
    </button>

    <div class="user-dropdown" [class.open]="isUserDropdownOpen">
      <ul *ngFor="let user of navUser" class="nav-list">
        <li *ngFor="let links of user.links">
          <a [routerLink]="[links.route]" class="nav-link">
            <i class="{{ links.icon }} nav-icon"></i>
            <span>{{ links.name }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <nav class="sidebar-nav">
    <div *ngFor="let section of navSections" class="nav-section">
      <p class="nav-section-title">{{ section.title }}</p>
      <ul class="nav-list">
        <li *ngFor="let link of section.links" [class.dropdown-open-container]="link.isOpen && link.children">
          <a *ngIf="!link.children" [routerLink]="[link.route]" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
            <i class="{{ link.icon }} nav-icon"></i>
            <span>{{ link.name }}</span>
          </a>

          <div *ngIf="link.children" (click)="toggleDropdown(link)" class="nav-link dropdown-toggle"
            [class.active-dropdown]="link.isOpen">
            <i class="{{ link.icon }} nav-icon"></i>
            <span>{{ link.name }}</span>
            <i class="fas fa-chevron-right nav-arrow" [class.rotate-90]="link.isOpen"></i>
          </div>

          <ul *ngIf="link.children && link.isOpen" class="sub-nav-list">
            <li *ngFor="let sublink of link.children">
              <a [routerLink]="[sublink.route]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                class="sub-nav-link">
                <i class="{{ sublink.icon }} nav-icon"></i>
                <span>{{ sublink.name }}</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</aside>