.sidebar {
  width: 100%;
  height: 100%;
  background-color: var(--color-surface);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--color-border);
  transition: transform 0.3s ease-in-out;
  max-width: 24rem;
}

.sidebar-nav {
  flex-grow: 1;
}

.nav-section-title {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-text-secondary);
  letter-spacing: 0.1rem;
  padding: 1.6rem 2.4rem;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-icon {
  font-size: 1.6rem;
  width: 2rem;
  text-align: center;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1rem 2.4rem;
  font-size: var(--fs-label-medium); 
  text-decoration: none;
  color: var(--color-text-tertiary);
  position: relative;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.nav-link:hover {
  background-color: var(--color-surface-hover);
  color: var(--color-text-primary);
}

.nav-link:hover .nav-icon,
.nav-link:hover .nav-arrow {
  color: var(--color-text-primary);
}

.dropdown-open-container {
  background-color: var(--color-background); 
  border-radius: 0.8rem;
  margin: 0.4rem 1.6rem;
  transition: background-color 0.3s ease-in-out;
}


.nav-link.active {
  color: var(--color-accent);
  font-weight: 600;
}

.nav-link.active .nav-icon {
  color: var(--color-accent);
}

.sub-nav-link.active {
  color: var(--color-accent);
  font-weight: 600; 
}

.sub-nav-link.active .nav-icon {
  color: var(--color-accent);
}

.user-dropdown {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.user-dropdown.open {
  max-height: 500px; 
  opacity: 1;
}

.sidebar-footer-container:hover {
  background-color: var(--color-surface-hover);
  color: var(--color-text-primary);
}

.sidebar-footer {
  padding-top: 0.8rem;
  border-bottom: 1px solid var(--color-surface-hover);
  width: 100%;
}
.sidebar-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2.4rem;
  background-color: transparent;
  margin: 0;
  border: 0;
  cursor: pointer;
  user-select: none;
  width: 100%;
}
.user-img-info {
  display: flex;
  align-items: center;
}
.sidebar-footer-text {
  margin-top: 2px;
  margin-left: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.2rem;
}

.user-avatar {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}

.user-role {
  font-size: 1.2rem;
  color: var(--color-text-tertiary);
}

.user-name {
  font-size: var(--fs-label-medium); 
  font-weight: bold;
  color: var(--color-text-primary);
}
.sidebar-footer-container {
  margin: auto;
}
.footer-icon {
  font-size: 2rem;
  color: var(--color-text-secondary);
  cursor: pointer;
  transition: color 0.3s;
}

.footer-icon:hover {
  color: var(--color-text-primary);
}

.dropdown-toggle {
  cursor: pointer;
}

.nav-arrow {
  font-size: 1rem;
  color: var(--color-text-primary);
  margin-left: auto;
  transition: transform 0.2s ease-in-out;
}

.rotate-90 {
  transform: rotate(90deg);
}

.sub-nav-list {
  list-style: none;
  overflow: hidden;
  max-height: 500px; 
  transition: max-height 0.3s ease-in-out;
}

.sub-nav-link {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1rem 2.4rem;
  font-size: var(--fs-label-medium); 
  text-decoration: none;
  color: var(--color-text-tertiary);
  font-weight: 500;
  position: relative;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.sub-nav-link:hover {
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

.sub-nav-link {
  padding-left: 4rem; 
}

.sidebar-closed {
  transform: translateX(-100%);
}