<!-- O container principal foi simplificado para apenas a tag <nav> -->
<nav class="tabs-nav">
  <button 
    (click)="selectTab('Visão-Geral')" 
    [class.active]="activeTab === 'Visão-Geral'"
    class="tab-button">
    Visão Geral
  </button>

  @if (isSidebarClosed) {
    <button 
      (click)="selectTab('Conteudo')" 
      [class.active]="activeTab === 'Conteudo'"
      class="tab-button">
      Conteúdo
    </button>
  }

  <button 
    (click)="selectTab('Materias-Extra')" 
    [class.active]="activeTab === 'Materias-Extra'"
    class="tab-button">
    Materiais Extras
  </button>

  <button 
    (click)="selectTab('Transcription')" 
    [class.active]="activeTab === 'Transcription'"
    class="tab-button">
    Transcrição
  </button>
</nav>
