<div class="options">
  <label>Disciplinas:</label>
  <select [(ngModel)]="selectedDiscipline" (change)="filterEvents()">
    <option value="ALL">TODAS</option>
    <option *ngFor="let d of disciplines" [value]="d.code">{{ d.name }}</option>
  </select>
</div>



<div class="calendar-container">
  <div class="calendar-wrapper">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
</div>

<div class="modal-overlay" *ngIf="isModalOpen">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Adicionar evento</h3>
      <button class="close-btn" (click)="closeModal()">&times;</button>
    </div>

    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="event-title">Título do evento</label>
          <input
            id="event-title"
            type="text"
            [(ngModel)]="newEventTitle"
            name="title"
            required
          />
        </div>

        <div class="modal-footer">
          <button type="button" class="btn-save" (click)="saveEvent()">
            Salvar
          </button>
          <button type="button" class="btn-close" (click)="closeModal()">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
