.container-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    align-items: stretch;
    position: relative;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.card {
    background-color: var(--color-surface);
    border: 1px solid var(--color-surface-translucent);
    border-radius: 12px;
    padding: 1.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.08);
}

.card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.card-tag-category, .card-tag-level {
    padding: 0.25rem 0.75rem;
    border-radius: 999px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.card-tag-category {
    font-size: 1rem;
    background-color: #EFF8FF;
    color: var(--color-accent);
    cursor: pointer;
}

.card-tag-level {
    color: var(--color-accent);
}

.card-main h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--color-text-primary);
}

.card-main p {
    font-size: 1.2rem;
    color: var(--color-text-secondary);
    line-height: 1.5;
    flex-grow: 1; 
    margin-bottom: 1.5rem;
}

.card-teacher {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.card-teacher img {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    object-fit: cover;
}

.card-teacher p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-text-primary);
}

.card-footer {
    padding-top: 1.5rem;
}

.card-button {
    background-color: #2563EB;
    color: #FFFFFF;
    border: none;
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.card-button:hover {
    background-color: #1D4ED8;
}





body.modal-open {
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative; 
  z-index: 1000; 
  height: auto; 
  max-width: 450px;
  width: 90%;
  background-color: var(--color-surface);
  border-radius: 0.8rem;
  padding: 2rem;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.modal-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
}

.modal-header h4 {
    font-size: 2.2rem;
    font-weight: 600;
    color: #111827;
    margin-bottom: 0.5rem;
}

.modal-header p {
    font-size: 1.4rem;
    color: #6B7280;
    line-height: 1.6;
}

.modal-info {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;
    border-top: 1px solid #EAECEF;
    border-bottom: 1px solid #EAECEF;
}

.modal-info-item {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.2rem;
    color: #4B5563;
    padding: 0.2rem;
}
.modal-info-item:hover{
    background-color: #EFF8FF;
    border-radius: 0.5rem;
}
.modal-info-item .material-symbols-outlined {
    font-size: 2rem;
    padding: 0.2rem;
}

.modal-info-item  .material-symbols-outlined{
    color: #2563EB;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 0.5rem;
}

.modal-btn {
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.modal-btn:hover {
    transform: translateY(-2px);
}

.modal-btn-primary {
    background-color: #2563EB;
    color: #FFFFFF;
}

.modal-btn-primary:hover {
    background-color: #1D4ED8;
}

.modal-btn-secondary {
    background-color: #F3F4F6;
    color: #374151;
}

.modal-btn-secondary:hover {
    background-color: #E5E7EB;
}

.page-header{
    position: fixed;
    bottom: 5rem;
    right: 5rem;
}

.create-exercise-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  background-color: #2563EB;
  color: #FFFFFF;
  border: none;
  padding: 2rem 1.8rem;
  border-radius: 100%;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.create-exercise-btn:hover {
  background-color: #1D4ED8;
}

.create-exercise-btn .material-symbols-outlined {
  font-size: 2.5rem;
}