.top-row-main-content {
  display: flex;
  gap: 3rem;
  margin: 0 auto 3rem auto;
}

:host ::ng-deep app-banner {
  flex: 2;
}

:host ::ng-deep app-calenda-progress {
  flex: 1;
  max-width: 40rem;
}

.full-width-section {
  width: 100%;
  margin-bottom: 3rem;
}

.cards-and-recent{
  display: flex;
  align-items: center;
  gap: 3rem;
}

:host ::ng-deep app-recentes{
  flex: 1;
}
:host ::ng-deep app-grid-stats{
  flex: 1;
}

@media (max-width: 1120px){
  .top-row-main-content{
    display: flex;
    flex-direction: column;
  }
  :host ::ng-deep app-calenda-progress{
    max-width: 100%;
    width: 100%;
  
  }
}
