.top-row-main-content {
  display: flex;
  gap: 3rem;
  max-width: 156rem;
  margin: 0 auto 3rem auto;
}

:host ::ng-deep app-banner {
  flex: 2;
}

:host ::ng-deep app-calenda-progress {
  flex: 1;
  max-width: 40rem;
}

.full-width-section {
  width: 100%;
  margin-bottom: 3rem;
}