<div class="dashboard-container">
            <div class="welcome-section">
                <h1>
                    Hi, Jorge! 👋<br />O que você quer <br /><span>Aprender</span>
                    hoje ?
                </h1>
                <p>
                    Discover courses, track progress, and achieve your learning goals
                    seamlessly.
                </p>
                <button class="explore-btn">Explore Courses</button>
            </div>
            <div class="illustration-section">
                <img src="student.png" alt="Ilustração de um estudante" />
            </div>
        </div>
