.stats-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    flex: 1;
    margin: 0 auto;
    height: 100%;
}


@media (max-width: 860px){
  .stats-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 445px) {
  .stats-section{
    grid-template-columns: auto;
  }
}