.dashboard-container {
  flex: 1.4;
  display: flex;
  align-items: center;
  background-color: var(--color-surface);
  padding: 2.5rem 4rem;
  border-radius: 2rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  height: 38rem;
}

.welcome-section {
  flex: 1.5;
}

.illustration-section {
  flex: 1;
  text-align: center;
  max-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.illustration-section img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.welcome-section h1 {
  font-size: 3.2rem;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.welcome-section h1 span {
  color: var(--color-accent);
}

.welcome-section p {
  color: var(--color-text-secondary);
  font-size: 1.2rem;
  margin-bottom: 2rem;
  max-width: 45rem;
}

.welcome-section .explore-btn {
  background-color: var(--color-accent);
  color: var(--color-text-on-accent);
  border: none;
  padding: 1.5rem 3.5rem;
  border-radius: var(--radius-small);
  font-size: var(--fs-body-large);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.welcome-section .explore-btn:hover {
  background-color: var(--color-accent-hover);
}

@media (max-width: 575px){
  .dashboard-container{
    height: auto;
  }

  .welcome-section h1{
    font-size: 2.2rem;
  }
  .welcome-section p{
    font-size: 1rem;
    font-weight: 500;
  }
  .welcome-section .explore-btn{
    padding: 1.2rem 1rem;
    font-size: 1rem;
  }
}
@media (max-width: 450px){
  .welcome-section h1{
    font-size: 1.7rem;
  }
  .welcome-section p{
    font-size: 1rem;
    font-weight: 500;
  }
}