<div class="dashboard-container" [style.backgroundImage]="'url(/assets/home/' + urlDaImagem + ')'">
  
  <div class="welcome-section">
      <h1>
          Hi, {{userName}}! 👋<br />{{tituloPrincipal}}<br /><span>{{palavraEmDestaque}}</span>
          hoje ?
      </h1>
      <p>
          {{subtitulo}}
      </p>
      <button class="explore-btn" routerLink="/courses">{{textoDoBotao}}</button>
  </div>

  <div class="illustration-section">
    <img src="/assets/home/robozinho.png" alt="">
  </div>
  
  </div>