@import url('https://fonts.googleapis.com/css2?family=Inter+Display:wght@400;600;700&display=swap');

@use '@angular/material' as mat;


:root {
    --color-background: #f8f9fa;
    --color-surface: #ffffff;
    --color-surface-hover: #f1f5f9;
    --color-surface-hover-low: #9290906b;
    --color-surface-translucent: rgba(255, 255, 255, 0.9);
    --color-text-primary: #1e2a53;
    --color-text-secondary: #8a94a6;
    --color-text-tertiary: #64748b;
    --color-text-placeholder: #94a3b8;
    --color-text-on-accent: #ffffff;
    --color-accent: #0066ff;
    --color-accent-hover: #0052cc;
    --color-accent-light: #e6f0ff;
    --color-icon: #4A5568;
    --color-border: #e2e8f0;


    --font-primary: 'InterDisplay', Helvetica, Arial, sans-serif;

    --fs-base: 62.5%;
    --fs-headline-large: 3.6rem;
    --fs-headline-medium: 2.8rem;
    --fs-headline-small: 2.8rem;
    --fs-title-large: 2.2rem;
    --fs-title-medium: 2rem;
    --fs-title-small: 1.8rem;
    --fs-body-large: 1.6rem;
    --fs-body-medium: 1.6rem;
    --fs-label-large: 1.6rem;
    --fs-label-medium: 1.4rem;
    --fs-text-lower: 0.875rem;


    --lh-headline-large: 44;
    --lh-headline-medium: 36;
    --lh-headline-small: 36;
    --lh-title-large: 28;
    --lh-title-medium: 24;
    --lh-title-small: 24;
    --lh-body-large: 24;
    --lh-body-medium: 24;
    --lh-label-large: 24;
    --lh-label-medium: 20;

    --weight-bold: 700;
    --weight-semiBold: 600;
    --weight-regular: 400;


    --tracking-n-025: -0.25px;
    --tracking-p-05: 0.5px;


    --radius-small: 0.8rem;
    --radius-medium: 1.2rem;
    --radius-large: 1.6rem;
    --radius-extra-large: 3.2rem;
    --radius-full: 100rem;
    --radius-circle: 50%;


    --shadow-1: 0px 2px 4px 0px #00000033;
    --shadow-2: 0px 5px 10px 0px #0000000D;
    --shadow-3: 0px 5px 10px 0px #00000033;
    --shadow-4: 0px 10px 20px 0px #0000001A;

    --transition-easing-quick: cubic-bezier(0, 0.7, 0.3, 1);
    --transition-duration-quick: 200ms;
    --transition-duration-smooth: 500ms;

}


.dark-mode {
    --color-background: #12213c;
    --color-surface: #0c1a32;
    --color-surface-hover: #1e2a53;
    --color-surface-translucent: rgba(12, 26, 50, 0.9);
    --color-text-primary: #ffffff;
    --color-text-secondary: #8a94a6;
    --color-text-tertiary: #8a94a6;
    --color-text-placeholder: #64748b;
    --color-accent-light: #1e2a53;
    --color-icon: #8a94a6;
    --color-border: #1e2a53;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}


input,
select,
button {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    height: auto;
}

input,
select,
button {
    background: none;
    border: none;
    font: inherit;
}

button {
    cursor: pointer;
}

input,
select {
    width: 100%;
    outline: none;
}

address {
    font-style: normal;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

html{
    font-family: var(--font-primary, Inter),sans-serif;
    font-size: var(--fs-base);
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    min-height: 100vh;
    background-color: var(--color-background);
}
 

