@if (course) {

<div class="lesson-page-container">

  <aside class="sidebar-mudules">
    <div class="sidebar-content">
      <div class="sidebar-top">
        <div class="sidebar-header">
          <a [routerLink]="['/cursos', course.slug]"></a>
          <h2 class="course-title"> {{course.title}}</h2>
        </div>
        <div class="sidebar-main">
          @for (module of course.modules; track module.order) {
            <div class="module-group">
              <h3 class="module-title"> Módulo {{module.order}}: {{module.title}}</h3>

              <ul class="lessons-list">
                @for (lesson of module.lessons; track lesson.id) {
                  <li>
                    <a class="lesson-link" [class.active]="lesson.id === ActiveLesson?.id" [routerLink]="['/cursos', course.slug, 'lesson', lesson.id]">
                      <span class="lesson-status-icon material-symbols-outlined">radio_button_unchecked</span>
                      <div class="lesson-text">
                        <span class="lesson-item-title">{{ lesson.title }}</span>
                        <span class="lesson-item-type">{{ lesson.type === 'video' ? 'Vídeo' : 'Artigo/Exercício' }}</span>
                      </div>
                    </a>
                  </li>
                }
              </ul>
            </div>
          }
        </div>

      </div>
      <div class="sidebar-footer">
       <button class="btn-back">
          <span class="material-symbols-outlined">arrow_back</span>
          Voltar para o curso
        </button>
      </div>
    </div>
  </aside>

<main class="main-content-lesson">
      @if (ActiveLesson) {
        <div class="lesson-header">
          <h1>{{ ActiveLesson.title }}</h1>
          @if (ActiveModule) {
            <p class="module-context">do Módulo {{ActiveModule.order}}: {{ActiveModule.title}}</p>
          }
        </div>
        <div class="lesson-content-placeholder">
          <span class="material-symbols-outlined">smart_display</span>
          <p>Área do conteúdo da aula</p>
        </div>
        <div class="lesson-actions">
          <button class="btn-nav">
            <span class="material-symbols-outlined">arrow_back</span>
            Anterior
          </button>
          <button class="btn-complete">
            <span class="material-symbols-outlined">radio_button_unchecked</span>
            Marcar como Concluída
          </button>
          <button class="btn-nav">
            <span class="material-symbols-outlined">arrow_forward</span>
          </button>
        </div>
      }
    </main>

</div>

}
