@if (course) {

<div class="lesson-page-container">
  <main class="main-content-lesson">
    @if (ActiveLesson) {
    <div class="lesson-header">
      <div class="lesson-actions">
        <button class="btn-nav">
          <span class="material-symbols-outlined">arrow_back</span>
          <span>Anterior</span>
        </button>

        <button class="btn-nav">
          <span>Proximo</span>
          <span class="material-symbols-outlined">arrow_forward</span>
        </button>
      </div>
    </div>

    <div class="lesson-content-placeholder">
      <span class="material-symbols-outlined">smart_display</span>
      <p>Área do conteúdo da aula</p>
    </div>

    <div class="lesson-content-navigation">
      <nav class="navigation">
        <ul class="navigation-container">
          <li class="navigation-items">
            <button>
              <span class="material-symbols-outlined">
                info
              </span>
              <h4>Visão Geral</h4>
            </button>
          </li>
          <li class="navigation-items">
            <button>
              <span class="material-symbols-outlined">
                play_circle
              </span>
              <h4>Conteudo</h4>
            </button>
          </li>
          <li class="navigation-items">
            <button>
              <span class="material-symbols-outlined">
                content_paste
              </span>
              <h4>Materias Extra</h4>
            </button>
          </li>
          <li class="navigation-items">
            <button>
              <span class="material-symbols-outlined">
                speech_to_text
              </span>
              <h4>Transcription</h4>
            </button>
          </li>
          <li></li>
        </ul>
      </nav>
    </div>

    <!-- <div class="lesson-footer">
      <div class="lesson-header-title">
        @if (ActiveModule) {
        <p class="module-context">
          Modulo {{ ActiveModule.order }}: {{ ActiveLesson.title }}
        </p>
        }
      </div>

      <div class="lesson-introdusion">
        <h2>Visão Geral</h2>
        <p>{{ActiveLesson.description}}</p>
      </div>
    </div> -->
    }
  </main>

  <aside class="sidebar-modules" [class.sidebar-close]="toggleButtonSidebar">
    <div class="sidebar-button" (click)="toggleOpen()">
      <button class="sidebar-close-open">
        <span class="material-symbols-outlined">
          arrow_back
        </span>
        conteudo do cursos
      </button>
    </div>
    <div class="sidebar-content">
      <div class="sidebar-top">
        <div class="sidebar-header">
          <a [routerLink]="['/cursos', course.slug]"></a>
          <h2 class="course-title">{{ course.title }}</h2>
        </div>
        <div class="sidebar-main">
          @for (module of course.modules; track module.order) {
          <div class="module-accordion-item" [class.expanded]="isModuleExpanded(module.order)">

            <div class="module-header" (click)="toggleModule(module.order)">
              <span class="module-icon material-symbols-outlined">check_circle</span>
              <div class="module-text">
                <span class="module-identifier">Módulo {{ module.order }}</span>
                <span class="module-title-text">{{ module.title }}</span>
              </div>
              <span class="expand-icon material-symbols-outlined">expand_more</span>
            </div>

            @if (isModuleExpanded(module.order)) {
            <div class="module-lessons-panel">
              <ul class="lessons-list">
                @for (lesson of module.lessons; track lesson.id) {
                <li>
                  <a class="lesson-link" [routerLink]="['/cursos', course.slug, 'lesson', lesson.id]"
                    [class.active]="lesson.id === ActiveLesson?.id">

                    @if (lesson.id === ActiveLesson?.id) {
                    <div class="active-indicator"></div>
                    }
                    <span class="lesson-status-icon material-symbols-outlined">radio_button_unchecked</span>
                    <div class="lesson-text">
                      <span class="lesson-item-title">{{ lesson.title }}</span>
                      <span class="lesson-item-type">{{ lesson.type === 'video' ? 'Vídeo' : 'Exercício' }}</span>
                    </div>
                  </a>
                </li>
                }
              </ul>
            </div>
            }
          </div>
          }
        </div>
      </div>
      <div class="sidebar-footer">
        <button class="btn-back" (click)="viewCurse()">
          <span class="material-symbols-outlined">arrow_back</span>
          <span>Volta para o Conteúdo</span>
        </button>
      </div>
    </div>
  </aside>
</div>

}