.container-cards {
    width: 100%;
    max-width: 1560px;
    margin: 0 auto;
}

.Card-Container {
    max-width: 100%;
    display: flex;
    gap: 2rem;
    padding: 1rem;
    overflow: hidden;
}

@media(max-width: 1400px) {
    .Card-Container {
        display: flex;
        flex: 0 0 auto;
    }
}


:host ::ng-deep .mat-mdc-tab .mdc-tab__text-label {
    color: var(--color-text-primary);
}


:host ::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label{
    color: var(--color-accent);
}