<div class="settings-page">
  <h2 class="settings-title">Settings</h2>

  <section class="settings-card">
    <h3 class="card-title">Segurança da Conta</h3>
    <div class="setting-item">
      <div class="item-info">
        <h4>Alterar Senha</h4>
        <p>
          Recomendamos usar uma senha forte que você não usa em outro lugar.
        </p>
      </div>
      <button class="btn btn-secondary" routerLink="/Forgout-Passoword">Alterar</button>
    </div>
    <div class="setting-item">
      <div class="item-info">
        <h4>Autenticação de Dois Fatores (2FA)</h4>
        <p>Adicione uma camada extra de segurança à sua conta.</p>
      </div>
      <button class="btn btn-secondary">Ativar</button>
    </div>
  </section>

  <section class="settings-card">
    <h3 class="card-title">Aparência</h3>
    <div class="setting-item">
      <div class="item-info">
        <h4>Tema</h4>
        <p>Personalize como o Synesis se parece para você.</p>
      </div>
      <div class="theme-selector">
        <button
          class="theme-option"
          [class.active]="currentTheme === 'light'"
          (click)="setTheme('light')"
          aria-label="Tema Claro"
        >
          <i class="fas fa-sun"></i> Claro
        </button>

        <button
          class="theme-option"
          [class.active]="currentTheme === 'dark'"
          (click)="setTheme('dark')"
          aria-label="Tema Escuro"
        >
          <i class="fas fa-moon"></i> Escuro
        </button>
      </div>
    </div>
  </section>

  <section class="settings-card danger-zone">
    <h3 class="card-title">Zona de Perigo</h3>
    <div class="setting-item">
      <div class="item-info">
        <h4>Excluir esta conta</h4>
        <p>
          Uma vez que você exclui sua conta, não há como voltar atrás. Tenha
          certeza.
        </p>
      </div>
      <button class="btn btn-danger">Excluir Conta</button>
    </div>
  </section>
</div>
